# Problem Set 2

# Question 1

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

b()
b()
b()
print(a)

6

As the Variable a is globally called inside the function b. This changes the value of "a" outside the function.
Initally the value of "a" is 0, when function b is called , value of a is assigned by calling function c with a as the variable.
In the function c , a+2 is returned as a is 0, it returns 2 for first
when calling b function for second time it return 4 
when calling b function for third time it returns 6.
Due to global declaration eventhough printing the variable "a" outside of function , the value of "a" will be 6.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

fileLength('midterm.py')

284

fileLength('idterm.py')

Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:

In [25]:
def filelength(File_name):
    try:
        file = open(File_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File {} not found.".format(File_name))
        

filelength("Midterm.py")
filelength("idterm.py")

259
File idterm.py not found.

# Question 3

write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below

In [3]:
class Marsupial:  
    def __init__(self):
        self.words = []
    def put_in_pouch(self, words): 
        self.words.append(words) 
    def pouch_contents(self):  
        print(self.words)
m = Marsupial() 
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,x1,y1):  
        self.x = self.x + x1
        self.y = self.y + y1    
    def __str__(self): 
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

['doll', 'firetruck', 'kitten']

In [4]:
k = Kangaroo(0,0) 
print(k)

I am a Kangaroo located at coordinates (0,0)

In [5]:
k.put_in_pouch('doll') 
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [6]:
k.jump(1,0) 
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Questions 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:

x = {𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
    
    3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
    
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [7]:
def collatz(x):
    if(x==1):
        print(int(x))
    elif x%2==0:
        print(int(x))
        collatz(x/2)
    else: 
        print(int(x))
        collatz(3*x+1)
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

# Questions 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [8]:
# reference : https://www.geeksforgeeks.org/python-program-to-covert-decimal-to-binary-number/ 
def binary(x):
    if x>=1:
        binary(x//2)
        print(x%2,end = '')
    else:
        return 0
print(0)
print("\n")
print(1)
print("\n")
binary(3)
print("\n")
binary(9)

0


1


11

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [9]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    is_h1_tag = False
    is_h2_tag = False
    
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.is_h1_tag = True
        if tag == 'h2':
            self.is_h2_tag = True

    def handle_data(self, data):
        if self.is_h1_tag:
            print(data)
        if self.is_h2_tag:
            print(" ", data)

    def handle_endtag(self, tag):
        if tag == 'h1':
            self.is_h1_tag = False
        if tag == 'h2':
            self.is_h2_tag = False



infile = open(r"E:\BDAT_Georgian\BDAT_1004_Data Programming\Assignments\w3c.txt")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
  Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [10]:
#Reference from Week 6 notes
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
def analyze(url):
    resource = urlopen(url)
    content = resource.read().decode()
    collector = Collector(url)
    collector.feed(content)
    links = collector.getLinks()  
    return links
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
    def getLinks(self):
        return self.links
visited = set()
def webdir(url,depth,indent):
    global visited     
    visited.add(url) 
    links = analyze(url)
    for link in links:
        if link not in visited:
            try:
                print('',link)
            except:
                print(link)

webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/two.html
 http://reed.cs.depaul.edu/lperkovic/three.html

# Question 8

Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [11]:
#Reference from week 6 notes
import sqlite3
con = sqlite3.connect('climates_db')
cur = con.cursor()
cur.execute("CREATE TABLE climates (City text, Country text, Season text, Temperature C dec, Rainfall mm dec)")
cur.execute("INSERT INTO climates VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO climates VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO climates VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO climates VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO climates VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO climates VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO climates VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO climates VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO climates VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO climates VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO climates VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO climates VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
con.commit()
con.close()

In [12]:
import sqlite3
con = sqlite3.connect('climate_db')
cur = con.cursor()
cur.execute('SELECT Temperature FROM climate')
for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [13]:
import sqlite3
con = sqlite3.connect('climate_db')
cur = con.cursor()
cur.execute('SELECT DISTINCT City FROM climate')
for record in cur:
    print(record)

('Mumbai',)
('London',)
('Cairo',)

In [14]:
import sqlite3
con = sqlite3.connect('climate_db')
cur = con.cursor()
cur.execute('SELECT * FROM climate where Country="India"')
for record in cur:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)

In [15]:
import sqlite3
con = sqlite3.connect('climate_db')
cur = con.cursor()
cur.execute('SELECT * FROM climate where Season="Fall"')
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [16]:
import sqlite3
con = sqlite3.connect('climate_db')
cur = con.cursor()
cur.execute('SELECT City,Country,Season FROM climate where (rainfall>200) AND (rainfall<400)')
for record in cur:
    print(record)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [17]:
import sqlite3
con = sqlite3.connect('climate_db')
cur = con.cursor()
cur.execute('SELECT City,Country FROM climate where (Season ="Fall") AND (temperature>20) ORDER BY Temperature DESC')
for record in cur:
    print(record)

('Mumbai', 'India')
('Cairo', 'Egypt')

In [18]:
import sqlite3
con = sqlite3.connect('climate_db')
cur = con.cursor()
cur.execute('SELECT SUM(Rainfall) FROM climate where City="Cairo"')
Annual_rainfall_in_Cairo=cur.fetchall()
print(Annual_rainfall_in_Cairo)

[(27.6,)]

In [19]:
import sqlite3
con = sqlite3.connect('climate_db')
cur = con.cursor()
cur.execute('SELECT SUM(Rainfall),Season FROM climate GROUP BY Season')
for record in cur:
    print(record)

(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

# Question 9

Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
for word in words:
    print(word.lower(), end=" ")

the quick brown fox jumps over the lazy dog

In [21]:
for word in words:
    print(word.upper(), end=" ")

THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG

In [22]:
for word in words:
    print(len(word), end=" ")

3 5 5 3 5 4 3 4 3

In [23]:
for word in words:
    print(word.lower(), end=" ")
    print(word.upper(), end=" ")
    print(len(word), end=" ")

the THE 3 quick QUICK 5 brown BROWN 5 fox FOX 3 jumps JUMPS 5 over OVER 4 the THE 3 lazy LAZY 4 dog DOG 3

In [24]:
for word in words:
    if len(word) >= 4:
        print(word, end=" ")

quick brown jumps over lazy